<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header-title">
        <h1>TODO</h1>
        <a href="" class="links">All</a>
        <a href="" class="links">Active</a>
        <a href="" class="links">Completed</a>
      </div>
      <div class="task-input">
        <input
          type="text"
          name="task"
          class="input"
          placeholder="Add a new task..."
        />
        <a href="#" class="add"></a>
      </div>
      <div class="task-container-main">
        <div class="task-container">
          <div class="marker"></div>
          <span class="task">Test</span>
          <div class="delete"></div>
        </div>
      </div>
    </header>
  </body>
  <script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js')></script>
  <script(src='../js/script.js' type="module")></script>
</html>
